@use "../base/variables" as v;

// ==============================
// HEADER / NAVBAR
// ==============================

.header {
  background-color: v.$color-dark;
}

// LOGO
.brand-title {
  font-family: v.$font-main;
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2px;
}

.brand-title .asis {
  color: v.$color-negro;

  /* borde blanco para mejorar contraste */
  -webkit-text-stroke: 1px v.$color-blanco;
  text-stroke: 1px v.$color-blanco;
}


.brand-title .moto {
  color: v.$color-amarillo;
}

.brand-title .ya {
  color: v.$color-blanco;
}

// ANIMACIÓN DE ENTRADA
.brand-title {
  animation: aparecerLogo 1s ease-out forwards;
}

@keyframes aparecerLogo {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
// NAVBAR
.navbar {
  padding: 1rem 0;
}

.nav-link {
  color: v.$color-blanco;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: v.$color-amarillo;
  }
}

.nav-link.active {
  color: v.$color-amarillo;
}
