// @use "variables" as v;

// // ==============================
// // ESTILOS GLOBALES
// // ==============================

// body {
//   background-color: v.$color-negro;
//   color: v.$color-blanco;
//   font-family: v.$font-main;
// }
